{% extends "base.html" %}
{% block title %}
<title>Glider DAC Deployment Summary</title>
{% endblock %}
{% block head %}
<link href="/lib/leaflet/dist/leaflet.css" rel="stylesheet" type="text/css">
<link href="/app/summary.css" rel="stylesheet" type="text/css">
<script src="/lib/leaflet/dist/leaflet.js" type="text/javascript"></script>
<script src="/app/summary_templates.js" type="text/javascript"></script>
<script src="/app/summary.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div id="summary-view">
      </div> <!-- #summary-view -->
    </div> <!-- .col-sm-6 -->
    <div class="col-sm-6">
      <div id="map-view">
      </div>
    </div>
  </div> <!-- .row -->
</div> <!-- .container-fluid -->
<script type="text/javascript">
var App = function() {
}

_.extend(App.prototype, Backbone.Events, {
  views: {
    mapView: new MapView({el: $('#map-view')})
  },
  start: function() {
    var myLines = [{
        "type": "LineString",
        "coordinates": [[-100, 40], [-105, 45], [-110, 55]]
    }, {
        "type": "LineString",
        "coordinates": [[-105, 40], [-110, 45], [-115, 55]]
    }];
    this.views.mapView.addTrajectory(myLines);
  }
});

var app = new App();

$(document).ready(function(){
  app.start();
});
   

</script>
{% endblock %}
