{% extends "base.html" %}
{% block title %}
<title>Glider DAC Deployment Summary</title>
{% endblock %}
{% block head %}
<link href="lib/leaflet/dist/leaflet.css" rel="stylesheet" type="text/css">
<link href="app/summary.css" rel="stylesheet" type="text/css">
<script src="lib/leaflet/dist/leaflet.js" type="text/javascript"></script>
<script src="app/summary_templates.js" type="text/javascript"></script>
<script src="app/summary.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
<button id="sidebar-toggle" class="btn btn-default">
  <span class="glyphicon glyphicon-align-justify"></span>
</button>

<div id="map_sidebar">
  <div id="sidebar-content">
    <div id="thumbnails" class="list-group">
    </div>
  </div>
</div>

<div id="map-view"></div>
<script type="text/javascript">
var App = function() {
}

_.extend(App.prototype, Backbone.Events, {
  collections: {
    deployments: new DeploymentCollection(),
  },
  views: {
    mapView: new MapView({el: $('#map-view')})
  },
  models: {
  },
  start: function() {
    var self = this;
    this.collections.deployments.fetch({reset:true});
    this.listenTo(this, 'app:toggle', function() {
      setTimeout(function() {
        self.views.mapView.redraw();
      }, 500);
    });
    this.listenTo(this.collections.deployments, 'reset', function(collection) {
      collection.each(function(model) {
        model.fetchGeoJSON();
        self.listenTo(model, 'deployment:geojson', function(model) {
          try {
            var geo_json = model.get('geo_json');
            geo_json.properties = {popupContent: model.get('deployment_dir')};
            self.views.mapView.addTrajectory(geo_json);
          } catch(err) {
            console.error(err);
            //console.error("Invalid coordinates on " + model.get('deployment_dir'));
          }
        });
      });
    });
  }
});

var app = new App();

$(document).ready(function(){
  app.start();
  $('#sidebar-toggle').click(function(event) {
    $('#map-view').toggleClass('toggled');
    $('#map_sidebar').toggleClass('toggled');
    $('#sidebar-toggle').toggleClass('toggled');
    app.trigger('app:toggle');
  });
});
   

</script>
{% endblock %}
